html, body {
    height: 100%
}

.body-cover {
    overflow-x: hidden;
    overflow-y: auto;
}

.container-cover {
    max-width: 30em;
}

.container-resume {
    max-width: 55em;
}

iframe {
    display:block;
    width:100%;
    height: 30em;
}
